services:
  postgres:
    image: pgautoupgrade/pgautoupgrade:latest
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    command: ["postgres", "-c", "log_statement=all"]
    environment:
      POSTGRES_PASSWORD: postgres

  api:
    build:
      context: api
      dockerfile: Dockerfile
    image: api:latest
    ports:
      - '8000:8000'
    volumes:
      - ./api:/app
    command: ./manage.py runserver 0.0.0.0:8000
    depends_on:
      - postgres

  ui:
    build:
      context: ui
    image: ui:latest
    ports:
      - '3000:3000'
    volumes:
      - ./ui:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      - api

  e2e:
    image: mcr.microsoft.com/playwright:v1.48.0-jammy
    working_dir: /app
    volumes:
      - ./ui:/app
    environment:
      - CI=true
    depends_on:
      - ui
      - api
    command: sh -c "npm install && npx playwright test --config=e2e/playwright.config.ts"
    profiles:
      - e2e

volumes:
  postgres-data:
